<component name="libraryTable">
  <library name="logback-core-1.5.16">
    <CLASSES>
      <root url="jar://$USER_HOME$/Downloads/logback-core-1.5.16.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/logback-classic-1.5.15.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/slf4j-api-2.0.16.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>